
body{
   margin:0;
   font-family: 'Abel', sans-serif;
   background-color: aliceblue;
  
}

.content_wrapper{
    margin:1rem 3rem;
}

.main-header {

    font-family: 'Ropa Sans', sans-serif;
    background-color: rgb(233, 188, 144);
    color:rgb(116, 73, 73);
    padding:0.8rem 0rem 0.5rem 2rem ;

}

.main-header p {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: -1rem; 
    margin-bottom: 0;
}

.main-header nav {
     margin-left: -1rem;
}

.main-header nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
  
}

.main-header nav li {
    display:inline-block;
    padding: 14px 16px; 
    margin-right: 1rem;
}

.main-header li a:hover {
  color: rgba(223, 130, 24, 0.911);
  
  }

.main-header nav a{

    color:inherit;
    text-decoration: none;
    display:block;
    margin-left: 2rem;
   
}



h1 {
    margin-left: 20rem;
}


footer a{
   color:inherit;   
}

.main-footer p {
   margin-bottom: 0;
   margin-top:0;
}
   
.main-footer {
   background-color:rgb(189, 120, 51);
   color:burlywood;
   text-align: center;
   padding:0.8rem 0rem 0.5rem 2rem ; 
   font-size: 1rem;
}

.main-footer aside ul{ 
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

.main-footer aside li {

    display: inline-block;
}

.main-footer aside a{

    color:inherit;
    text-decoration: none;
    display:block;
    padding:1rem 0.2rem ;  

}
  
ul{
    list-style: circle;
}
 
img {
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 5px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 35%;
   
 }

  
   
.main_table{
    width: 75%;
    text-align: center;
 }
  

.main_table>tbody>tr>th{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

 
.b{
   background-color:#C2E17C;
}

.main_table tr:nth-of-type(even)>td {
   background-color:#CAE98F;
}
  
.main_table tr:nth-of-type(odd)>td {
    background-color: #77B546;
    color: aliceblue;
}
 



.placeholder {
    color: azure;
    background-color: bisque;
}

.form_control::placeholder {
    color:rosybrown;
}

.form_label {
   display: block;
   margin-top:1rem;
   color:rgb(131, 177, 197);
}

fieldset {
    margin-top:1rem;
    margin-bottom:1rem;
    border-color:rgb(115, 142, 223);
}

fieldset input, textarea {
   width:60%;
}

section button {
    margin-bottom: 2rem;
}

.letra {
 margin-left: 18rem;
}
.titulo {
 margin-left: 18rem;   
}

video {
margin-left: 18rem;

}


@media screen and (min-width:500px) {

   

    img {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
      }

  
  .letra {
    margin-left: 18rem;
   }
   .titulo {
    margin-left: 18rem;   
   }
    
video {
    margin-left: 10rem;
    width: 60%;
    }


}






@media screen and (min-width:720px) {

   

    img {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
        
      }

  
  .letra {
    margin-left: 18rem;
   }
   .titulo {
    margin-left: 18rem;   
   }
    
video {
    margin-left: 10rem;
    width: 60%;
    }


}





@media screen and (min-width:800px) {
  
    
    .letra {
    margin-left: 18rem;
     }
     .titulo {
      margin-left: 18rem;   
     }  


 
    img {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
      }

  
    
video {
    margin-left: 5rem;
    margin-right: 6rem;
    }


}
  